*.iml
.idea/modules.xml
.idea/vcs.xml
week 1-Jetpack Compose basics/.idea
week 1-Jetpack Compose basics/app/.idea
week 2-2-Using state in Jetpack Compose/.gradle
week 2-2-Using state in Jetpack Compose/.idea
week 2-1-Layouts in JetpackCompose/.idea
week 3-1-Jetpack Compose theming/.gradle
week 3-1-Jetpack Compose theming/.idea
week 3-1-Jetpack Compose theming/local.properties
week 3-2-Jetpack Compose Animation/.gradle
week 3-2-Jetpack Compose Animation/.idea
week 3-2-Jetpack Compose Animation/local.properties
week 3-3-Jetpack Compose Navigation/.gradle

week 3-3-Jetpack Compose Navigation/.idea
week 3-3-Jetpack Compose Navigation/local.properties
